<!doctype html>
<html lang="en">
<head>
<title>{% block title %}​Inicio{% endblock %}​</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"crossorigin="anonymous">
    ​<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a style="margin-left: 75px;" class="navbar-brand space-brand" href="http://localhost:8000">Mi página de deportes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a style="color: #fff; margin-top: 25%;" class="nav-link" href="http://localhost:8000"> Inicio</a>
                </li>
                ​<li class="nav-item">
                    ​<a style="color: #fff; margin-top: -16%;"
                        class="nav-link" href="http://localhost:8000/deportes/futbol"> ​Futbol​</a>
                </li>
                ​<li class="nav-item">
                    ​<a style="color: #fff; margin-top: -16%;" class="nav-link"
                        href="http://localhost:8000/deportes/tenis"> ​Tenis​</a>
                </li>
                ​<li class="nav-item">
                    ​<a style="color: #fff; margin-top: -16%;" class="nav-link"
                        href="http://localhost:8000/deportes/rugby">​ Rugby​</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar"
                       aria-label="Buscar">
                <button class="btn btn-info my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown" style="margin-right: 75px;">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img class="nav-profile-img rounded-circle" style="width: 30px;" src="/images/perfil.png">
                    </a>
                    <div class="dropdown-menu" aria-labelledby=​"navbarDropdownMenuLink"​>
                        ​<a class="dropdown-item" href="#">​Perfil​</a>
                        ​<a class="dropdown-item" href="#">​Crear Post​</a>
                        ​<a class="dropdown-item" href="#">​Logout​</a>
                    </div>
                </li>
            </ul>
           
            
            
            
        </div>
    </nav>
    {% block body %}
        
        {% if error == '' %}
            <div class="container text-center">
              ​<h1 class="text-muted">​Mi página de deportes​</h1>
            </div>
        {% else %}    
            <div class="container text-center">
                  ​<h1 class="text-muted">​{{ error }}</h1>
            </div>
        {% endif %}    
        ​
        
        {% endblock %}
    <footer class="footer">
        ​<div class="container text-center">
              ​<span class="text-muted">​Mi página de deportes ​
                  <i class="fa fa-heart" style="color: red;"></i>​ realizada con 
                  Symfony4 ​<a href="#">​Imagina Formación​</a>
              </span>
        </div>
    </footer>
    {% block javascripts %}
               
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                     crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                     integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                     integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script>        
            $(".dropdown-toggle").dropdown();
        </script>
               
    {% endblock %}
</body>
</html>
