
{% extends 'layaout.html.twig' %}
{% block body %} 
    <div class="ui segment" style="margin-left: auto; margin-right: auto;
             text-align: center;">  
        <h2 class="ui icon header">
            <i class="settings icon"></i>
            <div class="content">
                Asignaciones de {%trans%}Tareas{%endtrans%}
                <div class="sub header">Bienvenido a nuestra web de asignaciones de tareas de usuario.</div>
            </div>
        </h2>
    </div>                   
    
{% endblock %}