
{# Mensaje satisfactorio #}
 {% if app.session.flashbag.has('mensaje') %}

     <div class="ui success message" role="alert" style="margin-top:4%;">
       {% for stringMesage in app.session.flashbag.get( 'mensaje' ) %} 
          <div class="header">
                {{ stringMesage }}
          </div>
        {% endfor %}
     </div>
     
{% endif %}


 {# Mensaje error #}
 {% if app.session.flashbag.has('error') %}
   
     <div class="ui negative message" role="alert" style="margin-top:4%;">
       {% for stringMesage in app.session.flashbag.get( 'mensaje' ) %} 
          <div class="header">
                {{ stringMesage }}
          </div>
        {% endfor %}
     </div>
        
{% endif %}




