
{# Mensaje satisfactorio #}
 {% if app.session.flashbag.has('mensaje') %}

     <div class="ui success message" id="mensaje-ok" role="alert" style="margin-top:4%;">
       {% for stringMesage in app.session.flashbag.get( 'mensaje' ) %} 
          <div class="header">
                {{ stringMesage }}
          </div>
        {% endfor %}
     </div>
     
{% endif %}


 {# Mensaje error #}
 {% if app.session.flashbag.has('error') %}
   
     <div class="ui negative message" id="mensaje-error" role="alert" style="margin-top:4%;">
       {% for stringMesage in app.session.flashbag.get( 'error' ) %} 
          <div class="header">
                {{ stringMesage }}
          </div>
        {% endfor %}
     </div>
        
{% endif %}

{# Mensaje advertencia #}
 {% if app.session.flashbag.has('advertencia') %}

     <div class="ui warning message" id="mensaje-warning" role="alert" style="margin-top:4%;">
       {% for stringMesage in app.session.flashbag.get( 'advertencia' ) %} 
          <div class="header">
                {{ stringMesage }}
          </div>
        {% endfor %}
     </div>
     
{% endif %}